@import "tailwindcss";

.widget-rnd-component .react-rnd-handle { 
  
    z-index: 30 !important; 
  }
  
  .react-rnd-handle-resize-bottom-right {
    position: absolute; 
    width: 20px !important;
    height: 20px !important;
    right: 0px !important; 
    bottom: 0px !important;
    cursor: se-resize !important;
    background-color: rgba(25, 118, 210, 0.7) !important; 
    border: 1px solid white;
    box-sizing: border-box;
    z-index: 30 !important; 
  }

  /* Discard button colors */
.btn-discard {
  color: #e6613d;

}

.btn-discard:hover {
  background-color: #ffece5;
}

/* Save button colors */
.btn-save {
  color: #273369;
}

.btn-save:hover {
  background-color: #e7eaff;
}


.template-card-dots {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 3px;
}
.template-card-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #bdbdbd;
}

  
